@model Domain.Picture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PictureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
