@model Domain.UserTag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag.TagText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.TagText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserTagId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
