@model Domain.ArtExampleTag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArtExampleTag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtExample.ArtExampleUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtExample.ArtExampleUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag.TagText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.TagText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtExampleTagId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
